# Filter Function

In [12]:
a = [34,78,90,56,32,98,76]
for i in a:
    if i > 60:
        print(i)
#     b = list(i)
#     print(b)

78
90
98
76

In [10]:
a = [34,78,90,56,32,98,76]
def fun(a):
    for i in a:
        if i>60:
            print(i)
            
fun(a)

78
90
98
76

In [28]:
# filter function
a = (34,78,90,56,32,98,76,34,90,90)
def fun(a):
        if a>60:
            return True
        else:
            return False

In [29]:
list(filter(fun,a))

[78, 90, 98, 76, 90, 90]

In [31]:
a = (34,78,90,56,32,98,76,34,90,90)

list(filter(lambda a: True if a>60 else False,a))

[78, 90, 98, 76, 90, 90]

In [32]:
x = lambda a: True if a>60 else False

In [34]:
c = list(filter(x,a))

In [35]:
c

[78, 90, 98, 76, 90, 90]

# Map Function

In [37]:
list(map(lambda c:c**2,c))

[6084, 8100, 9604, 5776, 8100, 8100]

In [40]:
def function(c):
    x = c**2
    return x


list(map(function,c))

[6084, 8100, 9604, 5776, 8100, 8100]

In [42]:
x = [1,2,3,4]
y = 0
for i in x:
    y = i+y
    print(y)

1
3
6
10

In [43]:
from functools import reduce

In [44]:
x = [1,2,3,4]
reduce(lambda x,y:x+y,x)

10

In [5]:
# Wap to find the max and min of 3 numbers and find their average
# with the help of lambda function.


a = lambda x,y,z:x if x>y and x>z else (y if y>z and y>x else z)

In [6]:
a(1,2,3)

3

In [7]:
a = lambda x,y,z:x if x<y and x<z else(y if y<z and y<x else z)

In [8]:
a(1,2,3)

1

In [14]:
x = lambda x,y,z:(x+y+z)/3

In [15]:
x(2,3,4)

3.0

In [16]:
# Write a Python program to add three 
# given lists using Python map and lambda.

a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
d = a+b+c
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

list(map(lambda a,b,c:a+b+c,a,b,c))

[12, 15, 18]

In [19]:
a = '[1,2,3]'
print(a)

[1,2,3]

In [20]:
type(a)

str

In [21]:
a = '['1','2','3']'
print(a)

SyntaxError: invalid syntax (Temp/ipykernel_5480/4186739197.py, line 1)

In [22]:
x = "hello"
x[::-1]

'olleh'