In [1]:
#wap to print 1-5.
print(1)

1

In [2]:
print(2)

2

In [3]:
print(3)

3

In [4]:
print(4)

4

In [5]:
print(5)

5

In [6]:
# for & while
# for loop----- it will work with range function.

#wap to print numbers from 1-5.


# for loop syntax---->
# for variable in range(define the range):
#     print(variable)


for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
#wap to print number from 10-50.
for i in range(2,6):
    print(i)

2
3
4
5

In [8]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
#wap to print the number from 10-30.
for i in range(10,31):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [10]:
for i in range(10):
    print("A"*i)

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
AAAAAAAA
AAAAAAAAA

In [11]:
for i in range(5,100):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [12]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [13]:
n = 5
for i in range(0,n+1):
    print(i)

0
1
2
3
4
5

In [14]:
#wap to print
# 1 even number from 1-20.
# odd number from 1-50.


for i in range(1,21):
    if i % 2 == 0:
        print("Even  number------>",i)

Even  number------> 2
Even  number------> 4
Even  number------> 6
Even  number------> 8
Even  number------> 10
Even  number------> 12
Even  number------> 14
Even  number------> 16
Even  number------> 18
Even  number------> 20

In [15]:
for i in range(1,51):
    if i % 2 != 0:
        print("Odd number------>",i)

Odd number------> 1
Odd number------> 3
Odd number------> 5
Odd number------> 7
Odd number------> 9
Odd number------> 11
Odd number------> 13
Odd number------> 15
Odd number------> 17
Odd number------> 19
Odd number------> 21
Odd number------> 23
Odd number------> 25
Odd number------> 27
Odd number------> 29
Odd number------> 31
Odd number------> 33
Odd number------> 35
Odd number------> 37
Odd number------> 39
Odd number------> 41
Odd number------> 43
Odd number------> 45
Odd number------> 47
Odd number------> 49

In [16]:
#while loop-----> 
#1. initialization
#2. condition
#3. increment/decrement


#wap to print from 1-10.

x = 1
while x<10:
    print(x)
#     x = x+1
#     x++     ---------> will not work with python.
    x+=1

1
2
3
4
5
6
7
8
9

In [17]:
x = 1
while x<=20:
    if x%2==0:
        print("Even number",x)
    x=x+1

Even number 2
Even number 4
Even number 6
Even number 8
Even number 10
Even number 12
Even number 14
Even number 16
Even number 18
Even number 20

In [18]:
x = 1
while x<=50:
    print(x)
    if x%2!=0:
        print("odd number------->",x)
    x+=1

1
odd number-------> 1
2
3
odd number-------> 3
4
5
odd number-------> 5
6
7
odd number-------> 7
8
9
odd number-------> 9
10
11
odd number-------> 11
12
13
odd number-------> 13
14
15
odd number-------> 15
16
17
odd number-------> 17
18
19
odd number-------> 19
20
21
odd number-------> 21
22
23
odd number-------> 23
24
25
odd number-------> 25
26
27
odd number-------> 27
28
29
odd number-------> 29
30
31
odd number-------> 31
32
33
odd number-------> 33
34
35
odd number-------> 35
36
37
odd number-------> 37
38
39
odd number-------> 39
40
41
odd number-------> 41
42
43
odd number-------> 43
44
45
odd number-------> 45
46
47
odd number-------> 47
48
49
odd number-------> 49
50

In [19]:
# difference between while & for loop.
# syntax
# for---> range
# while----> condition.


# for ------> we know the number of iteration!!.
# while -----> iterartion is known or unknown!!.
# while True

In [20]:
# 10-50
a = 10
while a<=50:
    print(a)
    a+=4

10
14
18
22
26
30
34
38
42
46
50

In [22]:
#wap to print number from -10 to 10 using while loop.
x = -10
while x<=10:
    print(x)
    x=x+1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10