In [1]:
# Reversing a List
x = [23,78,90,-34,45,21]
x[::-1]

[21, 45, -34, 90, 78, 23]

In [5]:
#sum & mul
x = [1,2,3,4]
y = 0
for i in x:
    y = y+i
print(y)

10

In [3]:
type(i)

int

In [7]:
x = [1,2,3,4]
y = 1
for i in x:
    y = y*i
print(y)

24

In [13]:
# odd even--->

x = [34,56,77,23,98,79,21,67,54]
count = 0 
for i in x:
    if i%2==0:
        print("Even number",i)
        count = count+1
        print("total even number is---->",count)
    else:
        print("Odd number",i)

Even number 34
total even number is----> 1
Even number 56
total even number is----> 2
Odd number 77
Odd number 23
Even number 98
total even number is----> 3
Odd number 79
Odd number 21
Odd number 67
Even number 54
total even number is----> 4

In [17]:
# positive ----> 0<
x = [-1,-45,89,56]
for i in x:
    if i<0:
        print("N number",i)

N number -1
N number -45

In [21]:
x = (1,2,3,4)
y = str(x)

In [22]:
y

'(1, 2, 3, 4)'

In [23]:
x

(1, 2, 3, 4)

In [24]:
x.index(3)

2

In [25]:
x[2]

3

In [26]:

# 4.Write a Python program to add an item in a tuple.

x = (1,2,3,4)
y = list(x)
print(y)

[1, 2, 3, 4]

In [27]:
y.insert(0,34)

In [29]:
y.append(100)

In [30]:
print(y)

[34, 1, 2, 3, 4, 100]

In [31]:
z = tuple(y)

In [32]:
print(z)

(34, 1, 2, 3, 4, 100)

In [33]:
type(z)

tuple

In [34]:
z

(34, 1, 2, 3, 4, 100)

In [38]:
x=[1,2,3,4]

In [39]:
x.pop(3)

4

In [40]:
z

(34, 1, 2, 3, 4, 100)

In [42]:
z.index(34)

0

In [43]:
# #wap to add two list.
# #wap to find common element in a list.
# a = [56,78,90,23,12]
# b = [90,45,34,121,89]

z

(34, 1, 2, 3, 4, 100)

In [45]:
z[::-1]

(100, 4, 3, 2, 1, 34)

In [46]:
# x = [(5,10,15,60,43,32)]
# k = 5
x = [1,2]
y = (3,4)
c = x+y
c

TypeError: can only concatenate list (not "tuple") to list

In [61]:
x = [[(56,55,60,45,43)]]
a = 5
for i in x:
    for j in i:
        for k in j:
            print(k)
            if k%a==0:
                print('Done--->',k)
            else:
                print("not done",k)

56
not done 56
55
Done---> 55
60
Done---> 60
45
Done---> 45
43
not done 43

In [63]:
x = [(1,2,3,4)]
for i in x:
    for j in i:
        print(j)

1
2
3
4

In [69]:
# #wap to add two list.
# #wap to find common element in a list.
a = [56,78,90,23,12]
b = [90,45,34,121,89]

for i in a:
    for j in b:
        if i == j:
            print("common",j)
        else:
            print("NC")

NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
common 90
6
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC

In [71]:
t = (1,1,2,2,3,3,4,4)
x = set(t)

In [73]:
y = tuple(x)

In [74]:
print(y)

(1, 2, 3, 4)